*{
    padding: 0;
    margin: 0;
}

.head{
    background-color: #2B3736;
    color: white;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 35px;
    font-family:'Otomanopee One', sans-serif;
    
}

.material-icons{
   color: red;
   margin-right: 5px;

}
.container{
    display: flex;
    flex-direction: column;
}
.heart{
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#img1{
    height: 100px;
    width: auto;
}

.text1{
    display: flex;
    font-size: 20px;
    color:#FF033E;;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Righteous', cursive;
}
.container2{
    background:  #36454F;
    margin: 20px 50px;
    border: 2px solid #2B3736;
    border-radius: 10px;
    margin-top: 30px;
}
.def{
    margin: auto;
    width: 60%;
    padding: 15px;
}

.def1{
    padding: 5px;
    color: seashell;
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
   
}
small{
    padding-top: 10px;
}
.auth{
    color: #72061f;
    font-family: 'Righteous', cursive;
}

.container3{
    margin-top: 35px;
    

}
.usercmnt{
    background: #91c5e7;
}
.textar{
    display: flex;
    justify-content: center;
    margin: 10px 150px;
}

.btn{
    color:white;
    background: black;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 25px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}
